PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
pygame-ce==2.5.7
google-api-python-client==2.196.0
google-auth==2.53.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
anthropic==0.105.2
notion-client==3.1.0
